@use '@angular/material' as mat;
@use './palette.scss' as pal;
@use '../../app/chat/chat-input/chat-input.theme' as chat-input;

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: pal.$primary,
    tertiary: pal.$tertiary,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
));

.light-theme {
  @include mat.core-color($light-theme);
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
  // @include chat-input.theme($light-theme);
}
