.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .chat-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    select {
      padding: 5px;
      width: 200px;
      border-radius: 50px;
      background-color: inherit;
      box-shadow: 0 0px 14px rgba(0, 0, 0, 0.2);
      border: unset;
      border: #ddd;
    }
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #ddd;
    flex-grow: 1;
    overflow: hidden;
  }
}
