<div class="app-container">
  <div class="chat-actions-container">
    <select [(ngModel)]="currentContext" (change)="onContextChanged()">
      @for (context of contexts; track context) {
        <option [value]="context">{{context}}</option>
      }
    </select>
    <button mat-raised-button color="primary" (click)="onNewChat()">New Chat</button>
  </div>

  <div class="chat-container">
    <chat
      [context]="currentContext"
      [sessionId]="currentSession"
    >
    </chat>
  </div>
</div>
